---
import Emoji from "astro-emoji";

interface Props {
  background?: string;
  text?: string;
  span?: string;
  emoji?: string;
  emoji_size?: string;
  title?: string;
  title_size?: string;
  description?: string;
  href?: string;
  force_enable?: boolean;
}

const {
  background = "bg-white",
  text = "text-black",
  span = "col-span-2 md:col-span-3 lg:col-span-2 md:row-span-1",
  emoji = "🎉",
  emoji_size = "text-3xl",
  title = "Default title",
  title_size = "text-xl",
  description = undefined,
  href = undefined,
  force_enable = false,
} = Astro.props;

const containerClasses = [
  "group block rounded-lg px-6 py-6 transition duration-300",
  background,
  span,
  !href && !force_enable
    ? "-z-50 cursor-not-allowed opacity-50"
    : "hover:z-50 hover:scale-105 hover:shadow-xl",
];
---

{href ? (
  <a
    class:list={containerClasses}
    href={href}
    data-obfuscation="0"
    aria-disabled={!href}
  >
    <div class="flex h-full flex-col gap-4">
      <div class="grow">
        <Emoji symbol={emoji} class:list={[emoji_size]} />
      </div>
      <div class="grow-0">
        <h2 class:list={["font-semibold", title_size, text]}>
          {title}
        </h2>
        {description && (
          <p class:list={["mt-2", text]}>
            {description}
          </p>
        )}
      </div>
    </div>
  </a>
) : (
  <div class:list={containerClasses}>
    <div class="flex h-full flex-col gap-4">
      <div class="grow">
        <Emoji symbol={emoji} class:list={[emoji_size]} />
      </div>
      <div class="grow-0">
        <h2 class:list={["font-semibold", title_size, text]}>
          {title}
        </h2>
        {description && (
          <p class:list={["mt-2", text]}>
            {description}
          </p>
        )}
      </div>
    </div>
  </div>
)}