---
import { markdown } from "@astropub/md";
import Chip from "@blubits/components/Chip.astro";
import Details from "@blubits/components/Details.astro";
import MarkdownBody from "@blubits/components/MarkdownBody.astro";
import EditorialChip from "@blubits/components/notes/EditorialChip.astro";
import Layout from "@blubits/layouts/Layout.astro";
import NotesPage from "@blubits/layouts/NotesPage.astro";
import "@blubits/styles/styles-notes.css";
import { Icon } from "astro-icon/components";
import { getCollection, render } from "astro:content";
import "katex/dist/katex.min.css";

export async function getStaticPaths() {
  const posts = await getCollection("editorials");
  return posts.map((post) => ({
    params: { platform: post.data.platform, code: post.data.code },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const fullnames: { [key: string]: string } = {
  oj: "Online Judge",
  cf: "Codeforces",
};
---

<Layout
  title={"Editorial: " +
    fullnames[post.data.platform] +
    " " +
    post.data.code +
    " | " +
    post.data.title}
>
  <NotesPage>
    <main>
      <section class="mb-8">
        <Details>
          <EditorialChip />
          <p>•</p>
          <p class="flex items-center">{fullnames[post.data.platform]}</p>
          <p>•</p>
          <Chip isCode>{post.data.code}</Chip>
        </Details>
        <div class="flex items-center gap-x-2 py-1 text-sm text-gray-400"></div>
        <h2 class="flex items-center gap-x-4 text-3xl font-semibold">
          {post.data.title}
        </h2>
      </section>

      <section class="flex flex-col gap-16 lg:flex-row">
        <div>
          <MarkdownBody>
            <Content />
          </MarkdownBody>
          <dl class="mt-12 flex flex-col gap-y-4 text-sm text-gray-200">
            <div class="flex flex-col gap-y-2">
              <dt class="font-semibold">Module created</dt>
              <dd class="rel-timestamp">
                {post.data["date-created"].toISOString()}
              </dd>
            </div>
            <div class="flex flex-col gap-y-2">
              <dt class="font-semibold">Last updated</dt>
              <dd class="rel-timestamp">
                {post.data["date-updated"].toISOString()}
              </dd>
            </div>
          </dl>
        </div>
        <div class="order-first flex flex-col gap-y-4 lg:order-last">
          <div
            class="order-last max-w-96 rounded bg-gradient-to-b from-lime-500/20 to-lime-500/10 p-4 lg:order-first"
          >
            <dl class="text-md flex flex-col gap-y-4">
              <div class="flex flex-col gap-y-2">
                <dt class="inline-flex items-center gap-x-2 font-semibold">
                  <Icon name="mdi:information" /> Solution summary
                </dt>
                <dd>{markdown(post.data["solution-summary"])}</dd>
              </div>
              <div class="flex flex-row gap-x-2">
                <dt class="font-medium">Running time</dt>
                <dd>{markdown(post.data["running-time"])}</dd>
              </div>
            </dl>
          </div>
          <h3
            class="text-xs font-semibold uppercase tracking-widest text-gray-400"
          >
            Problem link
          </h3>
          <a
            class:list={[
              "inline-flex items-center gap-x-2 text-lime-400 underline underline-offset-4 hover:text-lime-500",
            ]}
            href={post.data["problem-link"]}
            >On {fullnames[post.data.platform]}<Icon name="mdi:external-link" /></a
          >
          <h3
            class="text-xs font-semibold uppercase tracking-widest text-gray-400"
          >
            Tags
          </h3>
          <div class="flex flex-row flex-wrap items-start gap-1">
            {
              post.data.tags.map((tag) => (
                <Chip isCode classNames="text-sm">
                  {tag}
                </Chip>
              ))
            }
          </div>
        </div>
      </section>
    </main>
  </NotesPage>
</Layout>
